@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");

$primary-color: #ffffff;
$secondary-color: #6c757d;
$background-color: #6248ff;
$text-color: #333333;
$subtext-color: #4f4f4f;
$error-color: #e74c3c;
$success-color: #2ecc71;
$border-color: #ccc;
$hover-color: #5a4ac5;
$pressed-color: #4d36cc;
$light-bg: #f4f5ff;

$font-primary: "Exo 2", sans-serif;
$font-secondary: "Montserrat", sans-serif;
